.about-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 1em 0;
}

.left-part {
    .ability:nth-child(even) {
        transform: rotate(-5deg);
    }

    .ability:nth-child(odd) {
        transform: rotate(5deg);
    }

    .ability {
        flex-direction: row-reverse;
        text-align: right;
    }
}

.right-part {
    .ability:nth-child(even) {
        transform: rotate(5deg);
    }

    .ability:nth-child(odd) {
        transform: rotate(-5deg);
    }
}

.skills {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em auto 7em;
}

.skill-box {
    margin: 2em 1em;
}

@media screen and (max-width:1150px) {
    .about-head {
        flex-direction: column;
        gap: 0;

        .contact-photo {
            margin: 50px;
            order: -1;
        }

        .right-part {
            margin-top: -70px;
        }

        .ability:nth-child(even) {
            transform: rotate(5deg);
        }

        .ability:nth-child(odd) {
            transform: rotate(-5deg);
        }
    }

    .left-part .ability {
        flex-direction: row;
        text-align: left;
    }
}

@media screen and (max-width:537px) {
    .skill-box {
        margin: 2em 0.5em;
    }
}