.menu {
    background-color: #e0e5ec;
    position: relative;
    height: 60px;
    width: calc(5 * 70px + 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99em;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}