.project-card {
    position: relative;
    width: 320px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 7px var(--dark-regular-shadow),
        -5px -5px 7px var(--light-regular-shadow);
}

.project-card span::after {
    content: '';
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: inset 5px 5px 7px var(--dark-regular-shadow),
        inset -5px -5px 7px var(--light-regular-shadow);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 92%;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    z-index: 1;
    background: linear-gradient(145deg, var(--dark-linear-gradient), var(--light-linear-gradient));
    box-shadow: 0 10px 20px var(--dark-regular-shadow);
}

.content .content-heading,
.content .content-body,
.content .content-links {
    margin: 20px 40px;
    text-align: center;
}

.content .content-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--text-color);
}

.content .content-body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.content .content-links {
    display: flex;
    margin: 20px 0;
    font-size: 14px;
}

.content .content-links a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    text-indent: -6px;
    width: 90px;
    height: 34px;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px var(--dark-soft-shadow),
        -5px -5px 7px var(--light-soft-shadow);
}

.content .content-links a:active {
    box-shadow: inset 5px 5px 7px var(--dark-soft-shadow),
        inset -5px -5px 7px var(--light-soft-shadow);
}

@media screen and (max-width:373px) {
    .project-card {
        width: 280px;
        height: 385px;
    }

    .project-card .content .content-heading {
        font-size: 24px;
        margin: 10px 40px;
    }

    .project-card .content .content-body {
        font-size: 14px;
        margin: 10px 40px;
    }

    .project-card .content .content-links .visit-link,
    .project-card .content .content-links .github-link {
        margin: 0 5px;
    }
}