@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.075); */
}

.logo-text {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 20px;
}

.theme-toggle {
    width: 34px;
    height: 34px;
    margin: 10px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 8px 8px 10px #cccccc,
        inset -8px -8px 10px #f4f4f4;
    transition: box-shadow 0.6s cubic-bezier(0, 1.71, .34, .59);
}

.theme-toggle:hover,
.theme-toggle:active {
    cursor: pointer;
    box-shadow: 8px 8px 10px #cccccc,
        -8px -8px 10px #f4f4f4;
}

.theme-toggle span {
    width: 24px;
    height: 24px;
}