@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.075); */
}

.logo-text {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 20px;
}

.mode-switch {
    margin: 10px 20px;
}