.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 7em;
}

.project-card {
    margin: 3em;
}

@media screen and (max-width:426px) {
    .project-card {
        margin: 1em;
    }
}

@media screen and (max-width:373px) {
    .project-card {
        width: 280px;
        height: 385px;
    }

    .project-card .content .content-heading {
        font-size: 24px;
        margin: 10px 40px;
    }

    .project-card .content .content-body {
        font-size: 14px;
        margin: 10px 40px;
    }

    .project-card .content .content-links .visit-link,
    .project-card .content .content-links .github-link {
        margin: 0 5px;
    }
}