.Projects {
    margin: 0 0 7em;
}

.partition {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.partition:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width:1023px) {

    .partition,
    .partition:nth-child(even) {
        flex-direction: column-reverse;
        margin: 3em 0 5em;
        gap: 20px;
    }

    .partition::after {
        content: "";
        width: 260px;
        height: 3px;
        position: absolute;
        bottom: -40px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px #c5cad0,
            -2px -2px 5px #fbffff;
    }
}