.Projects {
    margin: 0 0 7em;
}

.partition {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 1em 0;
}

.partition:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width:1023px) {

    .partition,
    .partition:nth-child(even) {
        flex-direction: column-reverse;
        margin: 3em 0 5em;
        gap: 20px;
    }

    .partition::after {
        content: "";
        width: 280px;
        height: 5px;
        position: absolute;
        bottom: -40px;
        border-radius: 15px;
        border: 1px solid var(--border-color);
        box-shadow: inset 2px 2px 3px var(--dark-regular-shadow),
            inset -2px -2px 3px var(--light-regular-shadow);
    }
}