.project {
    margin: 3em 0 7em;
}

.partition {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.partition:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width:1023px) {

    .partition,
    .partition:nth-child(even) {
        flex-direction: column-reverse;
        margin: 5em 0;
        gap: 20px;
    }

    .partition::after {
        content: "";
        width: 260px;
        height: 3px;
        position: absolute;
        bottom: -40px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px #c5cad0,
            -2px -2px 5px #fbffff;
    }
}

@media screen and (max-width:373px) {
    .project-card {
        width: 280px;
        height: 385px;
    }

    .project-card .content .content-heading {
        font-size: 24px;
        margin: 10px 40px;
    }

    .project-card .content .content-body {
        font-size: 14px;
        margin: 10px 40px;
    }

    .project-card .content .content-links .visit-link,
    .project-card .content .content-links .github-link {
        margin: 0 5px;
    }
}