.intro {
    font-family: 'Roboto', sans-serif;
}

.intro .alt {
    display: none;
}

.intro .hello {
    font-size: 18px;
    font-weight: 700;
}

.intro h1 {
    color: #6050DC;
    font-size: 38px;
    font-weight: 700;
}

.intro h2 {
    margin: 0;
    height: 60px;
    color: #4CBB17;
    font-size: 28px;
    font-weight: 700;
}

.intro .description {
    font-size: 16px;
    font-weight: 400;
}

.intro .description span {
    color: #4CBB17;
}

.attachment {
    width: calc(2 * 120px + 2em);
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.attachment a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fd5c63;
    padding: 11px 13px;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    box-shadow: -4px -4px 6px var(--light-regular-shadow),
        4px 4px 6px var(--dark-regular-shadow);
}

.attachment a:hover {
    box-shadow: inset -4px -4px 6px var(--light-regular-shadow),
        inset 4px 4px 6px var(--dark-regular-shadow);
}

@media screen and (max-width:1023px) {
    .intro .hello {
        margin-top: 3em;
        margin-bottom: 0;
    }

    .intro h1 {
        margin-top: 1rem;
    }
}

@media screen and (max-width:767px) {

    .intro .hello,
    .intro h1 {
        display: none;
    }

    .intro .alt {
        display: block;
    }
}

@media screen and (max-width:373px) {
    .intro .attachment {
        width: 100%;
        justify-content: space-evenly;
    }

    .intro .attachment a {
        font-size: 12px;
    }

    .intro .attachment a svg {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width:320px) {
    .intro .attachment a {
        padding: 5px;
    }
}