@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

.intro {
    font-family: 'Ubuntu Mono', monospace;
}

.intro .alt {
    display: none;
}

.intro .hello {
    color: #333;
    font-size: 22px;
    font-weight: 700;
}

.intro h1 {
    color: #6050DC;
    font-size: 42px;
    font-weight: 700;
}

.intro h2 {
    margin: 0;
    height: 60px;
    color: #4CBB17;
    font-size: 32px;
    font-weight: 700;
}

.intro .description {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.intro .description span {
    color: #4CBB17;
}

.attachment {
    width: calc(2 * 90px + 1em);
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.attachment a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #fd5c63;
    padding: 11px 13px;
    border-radius: 7px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
}

.attachment a:hover {
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

@media screen and (max-width:1023px) {
    .intro .hello {
        margin-top: 3em;
        margin-bottom: 0;
    }

    .intro h1 {
        margin-top: 1rem;
    }
}

@media screen and (max-width:767px) {

    .intro .hello,
    .intro h1 {
        display: none;
    }

    .intro .alt {
        display: block;
    }
}