.social-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 340px;
    position: relative;
    background: var(--background-color);
    border-radius: 7px;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 7px var(--dark-regular-shadow),
        -5px -5px 7px var(--light-regular-shadow);
}

.btn {
    height: 34px;
    width: 34px;
    border-radius: 5px;
    background: var(--background-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: 3px 3px 5px var(--dark-regular-shadow),
        -3px -3px 5px var(--light-regular-shadow);
}

.btn:hover,
.btn:active {
    box-shadow: 4px 4px 6px 0 var(--light-regular-shadow),
        -4px -4px 6px 0 var(--dark-regular-shadow),
        inset -4px -4px 6px 0 var(--light-regular-shadow),
        inset 4px 4px 6px 0 var(--dark-regular-shadow);
}