.ability {
    position: relative;
    max-width: 320px;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px var(--dark-regular-shadow),
        -5px -5px 7px var(--light-regular-shadow);
}

.ability::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 95%;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow: inset 5px 5px 7px var(--dark-regular-shadow),
        inset -5px -5px 7px var(--light-regular-shadow);
}

.ability h3 {
    margin: 5px;
    font-size: 16px;
}

.ability p {
    margin: 5px;
    font-size: 12px;
    color: var(--text-color-secondary);
}