@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

.ability {
    max-width: 320px;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 9px #d3d7de,
        -5px -5px 9px #edf3fa;
}

.ability h3 {
    margin: 5px;
    font-size: 16px;
}

.ability p {
    margin: 5px;
    font-size: 12px;
    color: #555;
}