.contact-photo {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    transition: 0.15s ease;
}

.contact-photo span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -1;
    background-color: #e0e5ec;
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transform: scale(0.8);
    transition: 0.15s ease;
}

.contact-photo span:nth-child(1)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.contact-photo:hover span:nth-child(1) {
    transform: scale(1);
}

.contact-photo span:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -2;
    background-color: #e0e5ec;
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transform: scale(0.9);
    transition: 0.15s ease;
}

.contact-photo span:nth-child(2)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.contact-photo:hover span:nth-child(2) {
    transform: scale(1);
}

.contact-photo span:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -3;
    background-color: #e0e5ec;
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transition: 0.15s ease;
}

.contact-photo span:nth-child(3)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.contact-photo .img {
    width: 96.7%;
    height: 96.7%;
    border-radius: 90px;
    background: url("https://i.ibb.co/2FLwtyr/Passport-Photograph-3-5-X-4-5.jpg");
    background-size: cover;
    transform: scale(0.8);
    transition: 0.15s ease;
}

.contact-photo:hover .img {
    transform: scale(1);
}