.contact-card {
    position: relative;
    max-width: 320px;
    margin: 2em auto 5em;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 7px var(--dark-regular-shadow),
        -5px -5px 7px var(--light-regular-shadow);
}

.contact-card .cardHeader {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 15px 15px 0 15px;
    background-color: var(--background-color);
}

.contact-card .cardHeader::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    z-index: -1;
    box-shadow: 5px 5px 7px var(--dark-regular-shadow),
        -5px -5px 7px var(--light-regular-shadow);
    transform: skewY(8deg);
    transform-origin: 0 100%;
}

.contact-card .cardHeader .avatar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--border-color);
    box-shadow: 0 5px 5px var(--dark-regular-shadow);
}

.contact-card .cardHeader .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
}

.contact-card h3 {
    position: relative;
    margin: 100px 0 0;
    text-align: center;
    color: var(--text-color);
}

.contact-card .location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--text-color);
}

.contact-card .location svg {
    width: 12px;
    height: 12px;
}

.contact-card .description {
    position: relative;
    width: 240px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #777;
    border-radius: 15px;
    box-shadow: 3px 3px 5px var(--dark-regular-shadow),
        -3px -3px 5px var(--light-regular-shadow);
}

.contact-card .description p::after {
    content: "";
    position: absolute;
    filter: drop-shadow(-3px -3px 3px var(--light-regular-shadow));
    top: -2.6em;
    left: 50%;
    transform: translate(-50%);
    border-width: 1rem;
    border-style: solid;
    border-color: transparent transparent var(--background-color) transparent;
}

.contact-card .buttons {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card .buttons a {
    width: 60px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 7px;
    margin: 0 1em;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    font-weight: bold;
    font-size: 14px;
    color: #6573d0;
    box-shadow: 4px 4px 6px var(--dark-regular-shadow),
        -4px -4px 6px var(--light-regular-shadow);
}

.contact-card .buttons a:active {
    box-shadow: inset 4px 4px 6px var(--dark-regular-shadow),
        inset -4px -4px 6px var(--light-regular-shadow);
}

.contact-card .contactFooter .social-tab {
    width: 100%;
    border-radius: 15px;
}