@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');

.skill-box:hover {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.skill-box .hexagon {
    position: relative;
    width: 100px;
    height: 69.5px;
    border-radius: 15px;
}

.skill-box .hexagon::after,
.skill-box .hexagon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

.skill-box .hexagon::after {
    transform: rotate(0deg);
}

.skill-box .hexagon::before {
    transform: rotate(60deg);
}

.skill-box .hexagon .skill-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    background-color: #e0e5ec;
}

.skill-box .hexagon .skill-icon::after,
.skill-box .hexagon .skill-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    background-color: #e0e5ec;
}

.skill-box .hexagon .skill-icon::after {
    transform: rotate(60deg);
}

.skill-box .hexagon .skill-icon::before {
    transform: rotate(-60deg);
}

.skill-icon svg {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 5px;
    left: 50%;
    transform: translate(-50%);

}

.skill-icon p {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12px;
    text-align: center;
}