.skill-box:hover {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.skill-box .hexagon {
    position: relative;
    width: 100px;
    height: 69.5px;
    border-radius: 15px;
}

.skill-box .hexagon::after,
.skill-box .hexagon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow:
        -7px -7px 20px 0px var(--light-regular-shadow),
        -4px -4px 5px 0px var(--light-regular-shadow),
        7px 7px 20px 0px var(--dark-regular-shadow),
        4px 4px 5px 0px var(--dark-regular-shadow);
}

.skill-box .hexagon::after {
    transform: rotate(0deg);
}

.skill-box .hexagon::before {
    transform: rotate(60deg);
}

.skill-box .hexagon .skill-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    background-color: var(--background-color);
}

.skill-box .hexagon .skill-icon::after,
.skill-box .hexagon .skill-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    background-color: var(--background-color);
}

.skill-box .hexagon .skill-icon::after {
    transform: rotate(60deg);
}

.skill-box .hexagon .skill-icon::before {
    transform: rotate(-60deg);
}

.skill-icon svg {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 5px;
    left: 50%;
    transform: translate(-50%);

}

.skill-icon p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: var(--text-color);
    text-align: center;
}