:root {
  --background-color: #e0e5ec;
  --text-color: #212121;
  --text-color-secondary: #555555;
  --text-color-alternate: #777777;
  --border-color: #d1d9e6;
  --light-regular-shadow: #ffffff;
  --dark-regular-shadow: #b8b9be;
  --light-soft-shadow: #ebf0f8;
  --dark-soft-shadow: #d5dae0;
  --text-shadow: rgba(255, 255, 255, 0.4);
  --light-linear-gradient: #f0f5fd;
  --dark-linear-gradient: #caced4;
}

:root[data-theme="dark"] {
  --background-color: #212121;
  --text-color: #e0e5ec;
  --text-color-secondary: #777777;
  --text-color-alternate: #555555;
  --border-color: #1f1c1c;
  --light-regular-shadow: #2d2d2d;
  --dark-regular-shadow: #151515;
  --light-soft-shadow: #262626;
  --dark-soft-shadow: #1c1c1c;
  --text-shadow: rgba(255, 255, 255, 0.1);
  --light-linear-gradient: #2d2d2d;
  --dark-linear-gradient: #151515;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 15px;
  border: 1px solid var(--border-color);
  box-shadow: inset -4px -4px 6px var(--light-regular-shadow),
    inset 4px 4px 6px var(--dark-regular-shadow);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 15px;
  border: 1px solid var(--border-color);
  box-shadow: inset -5px -5px 5px var(--dark-regular-shadow),
    inset 5px 5px 5px var(--light-regular-shadow);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}