.project-info {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease;
}

.project-info span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -1;
    background-color: #e0e5ec;
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transition: 0.15s ease;
}

.project-info span:nth-child(1)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.project-info:hover span:nth-child(1) {
    transform: scale(0.8);
}

.project-info span:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -2;
    background-color: #e0e5ec;
    /* background: linear-gradient(145deg, #f0f5fd, #caced4); */
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transition: 0.15s ease;
}

.project-info span:nth-child(2)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.project-info:hover span:nth-child(2) {
    transform: scale(0.9);
}

.project-info span:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    z-index: -3;
    background-color: #e0e5ec;
    /* background: linear-gradient(145deg, #f0f5fd, #caced4); */
    box-shadow: 5px 5px 9px #c5cad0,
        -5px -5px 9px #fbffff;
    transition: 0.15s ease;
}

.project-info span:nth-child(3)::after {
    content: '';
    position: absolute;
    height: 97%;
    width: 97%;
    border-radius: 90px;
    box-shadow: inset 5px 5px 9px #c5cad0,
        inset -5px -5px 9px #fbffff;
}

.project-info .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 90px;
    transition: 0.15s ease;
}

.project-info:hover .info {
    transform: scale(0.8);
}

.project-info .info .info-bg {
    width: 260px;
    height: 135px;
}

.project-info .info .info-bg img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.project-info .info .info-tech {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-info .info .info-tech i {
    font-size: small;
    margin: 5px;
}